{% extends "base.html" %}

{% block header %}
<header class="flex items-center px-4 h-16 justify-between gap-4">
    <h1 class="text-2xl font-bold">
        <a href="/">RHIZOME</a>
    </h1>
</header>
{% endblock %}

{% block container %}
<div id="container" class="flex flex-col gap-4 h-full w-full">

    <!-- Contract Overview -->
    <div id="contract-overview" class="p-4 border-4 border-gray-700 flex flex-col gap-4">
        <header>
            <h1 class="text-2xl font-bold">{{ contract_address }}</h1>
        </header>
        <table class="table-auto w-fit">
            {% if score_name %}
            <tr>
                <td class="font-bold pr-2 text-right">Name:</td>
                <td>{{ score_name }}</td>
            </tr>
            {% endif %}
            <tr>
                <td class="font-bold pr-2 text-right">Status:</td>
                <td>{{ score_status['current']['status']|title }}</td>
            </tr>
            {% if score_status['owner'] %}
            <tr>
                <td class="font-bold pr-2 text-right">Owner:</td>
                <td>{{ score_status['owner'] }}</td>
            </tr>
            {% endif %}
            {% if score_status['current']['deployTxHash'] %}
            <tr>
                <td class="font-bold pr-2 text-right">Deploy Tx:</td>
                <td>{{ score_status['current']['deployTxHash'] }}</td>
            </tr>
            {% endif %}
            {% if score_status['current']['auditTxHash'] %}
            <tr>
                <td class="font-bold pr-2 text-right">Audit Tx:</td>
                <td>{{ score_status['current']['auditTxHash'] }}</td>
            </tr>
            {% endif %}
        </table>
    </div>

    <!-- Main Body -->
    <div class="grid grid-cols-12 gap-4 h-full overflow-y-auto">
        <!-- Contract Methods -->
        <div id="methods" class="border-4 relative border-gray-700 flex flex-col overflow-x-auto col-span-2">
            <header class="flex flex-col p-4 border-b-4 border-gray-700 gap-2">
                <h1 class="text-xl font-bold">Contract Methods</h1>
                <div>
                    <button class="text-sm font-bold bg-cyan-600 px-2 py-1 hover:bg-cyan-700"
                        hx-get="/contract/{{ contract_address }}/methods/?filter=all" hx-target="#methods-list">
                        ALL</button>
                    <button class="text-sm font-bold bg-purple-600 px-2 py-1 hover:bg-purple-700"
                        hx-get="/contract/{{ contract_address }}/methods/?filter=read" hx-target="#methods-list">
                        READ</button>
                    <button class="text-sm font-bold bg-green-600 px-2 py-1 hover:bg-green-700"
                        hx-get="/contract/{{ contract_address }}/methods/?filter=write" hx-target="#methods-list">
                        WRITE</button>
                </div>
            </header>
            <!-- Contract Methods List -->
            <ul id="methods-list" class="h-full overflow-y-auto p-4" hx-get="/contract/{{ contract_address }}/methods/"
                hx-trigger="load">
            </ul>
        </div>

        <div id="read-methods" class="border-4 relative border-gray-700 flex flex-col overflow-x-auto col-span-5">
            <header class="flex flex-col gap-2 p-4 border-b-4 border-gray-700">
                <h1 id="methods-title" class="text-xl font-bold">Read Methods <span id="read-methods-count"></span></h1>
            </header>
            <ul id="read-methods-inspector-list" class="h-full overflow-y-auto divide-y divide-gray-700"
                hx-get="/contract/{{ contract_address }}/inspector/?type=read" hx-trigger="load">
            </ul>
        </div>

        <div id="write-methods" class="border-4 relative border-gray-700 flex flex-col overflow-x-auto col-span-5">
            <header class="flex flex-col gap-2 p-4 border-b-4 border-gray-700">
                <h1 id="methods-title" class="text-xl font-bold">Write Methods <span id="write-methods-count"></span>
                </h1>
            </header>
            <ul id="write-methods-inspector-list" class="h-full overflow-y-auto divide-y divide-gray-700"
                hx-get="/contract/{{ contract_address }}/inspector/?type=write" hx-trigger="load">
            </ul>
        </div>

    </div>

</div>
{% endblock %}

{% block footer %}
<footer class="flex items-center justify-between px-4 h-16">
    <ul class="flex gap-4">
        <li class="text-gray-400 hover:underline">
            <a href="https://github.com/rhizome-labs/rhizome-contract-explorer">GitHub</a>
        </li>
        <li class="text-gray-400 hover:underline">
            <a href="https://twitter.com/rhizomelabs">Twitter</a>
        </li>
    </ul>
    {% include "latest_block.html" %}
</footer>
{% endblock %}