<table class="text-left">
    <tr>
        <td class="pr-2 font-bold">Status</td>
        <td class="px-2">{{ score_status['current']['status']|title }}</td>
    </tr>
    <tr>
        <td class="pr-2 font-bold">Owner</td>
        <td class="px-2">{{ score_status['owner'] }}</td>
    </tr>
    <tr>
        <td class="pr-2 font-bold">Deploy Tx</td>
        <td class="px-2">{{ score_status['current']['deployTxHash'] }}</td>
    </tr>
    <tr>
        <td class="pr-2 font-bold">Audit Tx</td>
        <td class="px-2">{{ score_status['current']['auditTxHash'] }}</td>
    </tr>
</table>