<!DOCTYPE html>
<html>

    <head>
        <!--
        ██████╗ ██╗  ██╗██╗███████╗ ██████╗ ███╗   ███╗███████╗
        ██╔══██╗██║  ██║██║╚══███╔╝██╔═══██╗████╗ ████║██╔════╝
        ██████╔╝███████║██║  ███╔╝ ██║   ██║██╔████╔██║█████╗  
        ██╔══██╗██╔══██║██║ ███╔╝  ██║   ██║██║╚██╔╝██║██╔══╝  
        ██║  ██║██║  ██║██║███████╗╚██████╔╝██║ ╚═╝ ██║███████╗
        ╚═╝  ╚═╝╚═╝  ╚═╝╚═╝╚══════╝ ╚═════╝ ╚═╝     ╚═╝╚══════╝
        -->
        <title>RHIZOME Contract Explorer</title>
        <meta name="viewport" content="width=device-widt1h, initial-scale=1, maximum-scale=1" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="mobile-web-app-capable" content="yes" />
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://unpkg.com/htmx.org@1.7.0/dist/htmx.min.js"></script>
        <script src="https://unpkg.com/hyperscript.org@0.9.5"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/github-dark.min.css">
        <style>
            input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
            input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }
            input[type="search"]::-webkit-search-decoration,
            input[type="search"]::-webkit-search-cancel-button,
            input[type="search"]::-webkit-search-results-button,
            input[type="search"]::-webkit-search-results-decoration { display: none; }
        </style>
    </head>

    <body class="font-mono text-gray-200 bg-black">
        <div class="box-border flex flex-col h-screen max-h-screen">
            <header class="flex items-center px-4 h-16 justify-between gap-4">
                <h1 class="text-2xl font-bold">
                    <a href="/">RHIZOME</a>
                </h1>
            </header>
            <main class="flex flex-col flex-1 h-full gap-4 px-4 w-full overflow-y-auto">
                {% block container %}{% endblock %}
            </main>
            <footer class="flex items-center justify-between px-4 h-16">
                <ul class="flex gap-4">
                    <li class="text-gray-400 hover:underline">
                        <a href="https://github.com/rhizome-labs/rhizome-contract-explorer">GitHub</a>
                    </li>
                    <li class="text-gray-400 hover:underline">
                        <a href="https://twitter.com/rhizomelabs">Twitter</a>
                    </li>
                </ul>
                {% include "latest_block.html" %}
            </footer>
        </div>
    </body>

</html>