{% extends "base.html" %}

{% block container %}
<div id="container" class="flex flex-col items-center justify-center h-full">
    <form autocomplete="off" hx-post="/search/" class="flex flex-col items-center w-full">
        <label for="contract-address" class="sr-only">Contract Address</label>
        <input type="search" name="contract-address" id="contract-address"
            class="block w-full font-bold max-w-[42ch] bg-black box-content border-4 border-gray-700 text-xl p-4 focus:border-cyan-500 focus:ring-cyan-500"
            placeholder="cx..." spellcheck="false" required />
    </form>
</div>
{% endblock %}