{% extends "base.html" %}

{% block container %}
<div>
    <form hx-post="/abi/" hx-target="#abi">
        <div class="flex gap-4">
            <div class="grow space-y-1 min-w-[42ch]">
                <input type="text" name="contractAddress" id="contract-address"
                    class="p-4 block w-full border-gray-700 border-2 bg-black focus:border-indigo-500 focus:ring-indigo-500"
                    placeholder="Contract Address" {% if contract_address %}value="{{ contract_address }}" {% endif %}>
            </div>
            <div class="space-y-1">
                <input type="text" name="blockHeight" id="block-height"
                    class="p-4 block max-w-[24ch] border-gray-700 border-2 bg-black focus:border-indigo-500 focus:ring-indigo-500"
                    placeholder="Block Height" {% if block_height %}value="{{ block_height }}" {% endif %}>
            </div>
            <div class="space-y-1">
                <input type="text" name="timestamp" id="timestamp"
                    class="p-4 block max-w-[24ch] border-gray-700 border-2 bg-black focus:border-indigo-500 focus:ring-indigo-500"
                    placeholder="Timestamp" {% if timestamp %}value="{{ timestamp }}" {% endif %}>
            </div>
            <button
                class="btn btn-default border-2 border-gray-200 hover:border-cyan-700 bg-gray-200 px-4 text-gray-900 font-bold py-3 hover:bg-cyan-700 hover:text-gray-50">
                Submit
            </button>
        </div>
    </form>
</div>
<div id="abi" class="h-full overflow-y-auto"></div>
{% endblock %}